<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="./layout.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <nav>Nav</nav>
    <menu>
      <button class="btn">New</button>
      <button class="btn">Reply</button>
      <button class="btn">Forward</button>
      <button class="btn">Mark unread</button>

      <button class="btn red-btn">Trash</button>
    </menu>
    <section>
      <div class="email-btn">Email 1</div>
      <div class="email-btn">Email 1</div>
      <div class="email-btn">Email 1</div>
      <div class="email-btn">Email 1</div>
      <div class="email-btn">Email 1</div>
      <div class="email-btn">Email 1</div>
      <div class="email-btn">Email 1</div>
      <div class="email-btn">Email 1</div>
      <div class="email-btn">Email 1</div>
    </section>
    <main>Email view</main>
    <aside>Additional info</aside>
  </body>
</html>
