/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* 
MAIN COLOR: #087f5b
GREY COLOR: #343a40
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
}

.pagination {
  width: 700px;
  margin: 100px auto;
  padding: 10px;

  display: flex;
  gap: 24px;
  align-items: center;
}

.page:link,
.page:visited {
  width: 32px;
  height: 32px;
  border-radius: 50%;

  text-align: center;
  font-size: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: black;
}

.page:hover,
.page:active,
/* with space - descendant selector */
/* without space - and selector */
.page.page--active {
  color: white;
  background-color: #087f5b;
}

.btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;

  background-color: white;
  color: #087f5b;
  border: solid 2px #087f5b;
}

.btn:hover,
.btn:active {
  background-color: #087f5b;
  color: white;
}

.btn-icon {
  width: 24px;
  height: 24px;
}
